body {
  background-image: linear-gradient(45deg, #ff3867, #ffc873, #d37ec6);
  display: flex;
  justify-content: center;
}

.grid {
  width: 450px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.header {
  grid-area: header;
  background: blue;
}

.content {
  grid-area: content;
  background: red;
}

.footer {
  grid-area: footer;
  background: green;
}
